button {
  background-color: #5808a2;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  margin: 10px;
  font-size: large;
}

button:hover,
:disabled {
  background-color: #8822e6;
}

#welcome {
  text-align: center;
}

#question {
  display: inline-block;
}

#choices button {
  display: block;
}

#start {
  font-size: xx-large;
}

#highscores input {
  display: block;
}

#highscores {
  text-align: center;
}

#over {
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
