* {
  text-align: center;
  font-size: large;
}

h1 {
  font-size: xx-large;
}

p {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #5808a2;
  color: white;
  border-style: none;
  font-size: larger;
}

button:hover,
:disabled {
  background-color: #8822e6;
}

#choices {
  display: inline-flex;
  flex-direction: column;
  height: 150px;
  place-content: space-evenly;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#clear-button,
#back-button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

#high-scores {
  text-decoration: underline;
  color: #5808a2;
}

#instruction {
  display: block;
  width: 70%;
  margin: auto;
  padding: 20px;
}
